<div class="container">
  <div class="row">
    <div class="col-md-12">
{{#bs-form as |form|}}
  {{#each model as |entry|}}
      {{ld-entry-field kind=(mut (get entry 'kind')) value=(mut (get entry 'value')) label=(get entry "label") placeholder=(get entry "placeholder") form=form}}
  {{/each}}
{{/bs-form}}

{{outlet}}
    </div>
  </div>
</div>